body{
  background-color: orange;
  margin: 0;
}

img{
  width: 100%;
}

input{
  margin: auto;
}

.panda{
  border: 1px solid black;
  margin-top: 15px;
  
}

.contenu{
  margin: 8px;
}
