body{
  background-color: orange;
  margin: 0;
  font-size: 16px;
}

h1{
  font-size: 1.6rem;
}

h2{
  font-size: 1.2rem;
}

table{
  border: 1px solid black;
  border-collapse: collapse;
  margin: auto;
  width: 100%;
  color: red;
}

td{
  border: 1px solid black;
  background-color: indigo;
}

th{
  border: 1px solid black;
  background-color: pink;
}

.logo{
  background-image: url("../img/logo.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 300px;
}

.bamboo{
  width: 50%;
  margin: auto;
  display: block;
  margin-top: -300px;
}

.contenu{
  width: 50%;
  margin: 20px auto;
}

.form{
  text-align: center;
}

.form input{
  width: 50%;
  margin: 5px;
}

.panda{
  width: 60%;
  margin: auto;
  margin-top: 15px;
  display: block;
  border: 1px solid black;
}
