body{
  background-color: orange;
  margin: 0;
}

.bamboo{
  width: 50%;
  margin: auto;
  display: block;
}

.contenu{
  width: 50%;
  margin: auto;
}

.form{
  text-align: center;
}

.form input{
  width: 50%;
  margin: 5px;
}

.panda{
  width: 60%;
  margin: auto;
  margin-top: 15px;
  display: block;
  border: 1px solid black;
}
